<header class="detail">
  <%= link_to root_path, class: "back", "data-transition" => "slide-from-top" do %>
    <h1>Home</h1>
  <% end %>
  <section>
    <h1>A PROPOS</h1>
    <h3 class="badge">Nous découvrir</h3>
  </section>
</header>
<div class="content-wrap">
  <div class="content">
    <section>
      <header>
        <h2>A propos de nous</h2>
        <h4 class="serif">Notre histoire</h4>
      </header>
      <section>
        <p></p>
        <div>
          <span style="color: #ffffff;">
            <figure>
              <a class="gallery-item" herf="">
                <img src="/upload/song_apropos.jpg">
              </a>
            </figure>
            <br>
            « Saveurs et sens », parce que nous avons voulu ce lieu plurisensoriel, un lieu où les sens sont mis à l’honneur, par la mise en scène, par le jeu des contrastes et des associations, du contact minéral de l’ardoise, la douceur des parfums, l’harmonie des couleurs, la subtilité des saveurs.
          </span>
          <br> <br> <br>
        </div>
        <span style="color: #999999;">
          Welcome to the multisensorial experience of a place where senses are enticed with the ambience, the display of texture contrasts and combinations, the soft mineral feel of slate, the delicacy of aromas, the harmony of colors and the subtlety of flavours.
          <br><br>
          <a href="http://www.restaurant-song.fr/index.php/le-chef/">
            <span style="color: #0098ac;">
              <em>
                En savoir plus sur le chef<br>
              </em>
            </span>
          </a>
          <em><br><br></em>
        </span>
      </section>
      <footer></footer>
    </section>
  </div>
  <div class="content-footer">
    <p>Power by Bootstrap - Copyright 2017 All Right Reserved</p>
  </div>
</div>
