<!DOCTYPE html>
<html>
  <head>
    <title>Laporcelaine</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- The splash screen -->
    <div id="splash">
      <div class="loader">
        <img class="splash-logo">
        <div class="line"></div>
      </div>
    </div>
    <!-- End of splash screen -->
    <div id="wrapper">
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
